<div class="row">
  <div class="col-md-12">
    <h1>{{title }}</h1>
    <p>Welcome to {{title }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Notes</h2>
    <div id="item-list">
      {{#if notes}}

      {{#each notes}}
      <div class="note">
        <strong>{{title}}</strong><br />
        {{description}}
      </div>
      <br />
      {{/each}}

      {{else}}
      No Notes.
      {{/if}}
    </div>
  </div>
</div>
